.App {
  text-align: center;
}

body {
  background-color: #f1f1f1;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.title {
  font-size: 1.25rem;
  margin-left: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pages {
  display: flex;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pages a {
  font-size: 1.25rem;
  margin-left: 30px;
  text-decoration: none;
  color: #333;
}

.active {
  font-weight: bold;
}

.divider {
  border-top: 5px solid black;
  margin: 0;
}

.tilted-rectangle {
  width: 100vw; 
  height: 500px; 
  background-color: #2242eb; 
  transform: skewY(-4deg); 
  position: relative;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}

.home-title {
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 60px;
  text-align: center;
  position: absolute;
  left: 30%; 
  top: 15%;
  z-index: 2;
  transform: skewY(4deg);
}

.home-container {
  position: relative;
  display: flex;
  align-items: center;
}

.started-button {
  margin: 0;
  height: 50px;
  width: 150px;
  background-color: white;
  color: #2242eb;
  font-size: 20px;
  text-align: center;
  position: absolute;
  text-decoration: none;
  display: inline;
  padding: 10px;
  left: 34%; 
  top: 75%;
  z-index: 2;
  position: absolute;
  bottom: 90%;
  transform: skewY(4deg);
}

.chat {
  text-align: center;
}

.chat-title {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 48px;
}

.message-dashboard {
  width: 900px;
  height: 550px;
  position: absolute;
  background-color: white;
  border-radius: 80px;
  border: 1px solid #ddd;
  transform: skewY(4deg); 
  right: 5%;
  top: -20px;
  float: right;
}

.text-bar {
  margin: 10px;
}

.chat-screen {
  height: 75%;
}

.description {
  width: 350px;
  position: absolute;
  float: left;
  left: 100px;
  top: 30px;
  transform: skewY(4deg); 
  color: white;
  font-size: 18px;
}